body {
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

.login-page {
    padding: 5% 0 0;
    margin: 130px auto;
}

.form {
    position: relative;
    z-index: 1;
    max-width: 380px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.form input {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 20px;
    padding: 15px;
    box-sizing: border-box;
}

.form button {
    font-family: "Microsoft YaHei", "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    /*background: #009966;*/
    background: black;
    font-weight: bold;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover {
    opacity: 0.8;
}

.form button:active{
    opacity: 1;
}

.shake_effect {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
.welcome-slogan{
    font-family: "Microsoft YaHei", "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
}

#username{
    margin-top: 20px;
}

input:-webkit-autofill {
    -webkit-text-fill-color: black !important;
    background-color: transparent !important;
    background-image: none !important;
    background: none !important;
    border-image: url(../../res/images/input.png) 0 0 0 0 stretch !important;
    -webkit-border-image: url(../../res/images/input.png) 0 0 0 0 stretch !important;
    text-indent: 15px;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    transition: background-color 50000s ease-in-out 0s;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
    -webkit-text-fill-color: #807c7c;
    transition: background-color 5000s ease-out 0.5s;
}

.footer {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
}